*{
    background: #082032;
    color:white;
}
.card{
   width: 25rem;
    padding: 2%;
    border: solid 2px #fff;
    border-radius: 3%;
    margin-right: 30%;
}

.btn{
    width: fit-content;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}