 <div class="container-fluid disp">  

    <div>
      <app-landing-page></app-landing-page>
    </div>



    <div class="container-fluid display">
      <app-search-user></app-search-user>
      <app-display-results></app-display-results>
    </div> 


    <!-- Footer -->
    <footer class="page-footer font-small blue">
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
    <router-outlet></router-outlet>
  </div> 