<div class="container-fluid ">
    <h4> Hello,<span> Welcome to Git-search......</span></h4>
    
    <div class="landingPageText">

        <p> <span class="appearance"id="indent">Welcome to git-search.</span> Here we make it easy for you to see the profile and
            public repositories of any user. All
            you need is their Github user names or repository names and you will be good to go. You feed in that user name in the search
            bar below and in a press of a button,
            you will have their full profile.</p>

        <p> <span id="question">Are you new to GitHub?</span> </p>

        <p> <span id="indent">Github</span> is a Git repository hosting service, but it adds many of its own
            features. While Git is a command line tool,
            GitHub provides a Web-based graphical interface. It also provides access control and several
            collaboration features,
            such as a wikis and basic task management tools for every project.</p>

        
        <h6 class="appearance">How to use the app :</h6>
        <p>To search for any user, navigate to git-search section on the navigation bar and you will be able to 
            search for any repo or user.</p>

    </div>

</div>


